1
Для датафрейма log из материалов занятия создайте столбец source_type по правилам:

если источник traffic_source равен Yandex или Google, то в source_type ставится organic;
для источников paid и email из России ставим ad;
для источников paid и email не из России ставим other;
все остальные варианты берём из traffic_source без изменений.


***датафрейм log - не найден***

2

In [7]:
import pandas as pd

path_urls = r"C:\Users\mv.khamenok\Desktop\Документы\Netology\Py\URLs.txt"

urls = pd.read_csv(path_urls)
news_urls = urls[urls["url"].str.contains(r"/\d{8}-")]

news_urls

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

3

In [10]:
import pandas as pd

ratings_path = r"C:\Users\mv.khamenok\Desktop\Документы\Netology\Py\ml-latest-small\ratings.csv"
ratings = pd.read_csv(ratings_path)

user_stat = ratings.groupby("userId").agg(
    ratings_cnt=("rating", "count"),
    min_ts=("timestamp", "min"),
    max_ts=("timestamp", "max")
).reset_index()

user_stat["lifetime_sec"] = user_stat["max_ts"] - user_stat["min_ts"]

active_users = user_stat[user_stat["ratings_cnt"] > 100]

mean_lifetime_sec = active_users["lifetime_sec"].mean()
mean_lifetime_days = mean_lifetime_sec / 86400

print("Пользователи, которые выставили более 100 оценок: ", len(active_users))

Пользователи, которые выставили более 100 оценок:  258

4

In [11]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1',
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

In [15]:
revenue_table = (client_base[['client_id']]
                 .merge(rzd, on='client_id', how='left')
                 .merge(auto, on='client_id', how='left')
                 .merge(air, on='client_id', how='left')
                 .fillna(0))

revenue_table

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           0.0          0.0
1        112       2810.0           0.0          0.0
2        113      10283.0       57483.0          0.0
3        114       5774.0          83.0          0.0
4        115        981.0         912.0         81.0
5        116          0.0        4834.0          4.0
6        117          0.0          98.0         13.0
7        118          0.0           0.0        173.0

In [16]:
revenue_with_address = revenue_table.merge(client_base, on='client_id', how='left')
revenue_with_address = revenue_with_address[['client_id', 'address', 'rzd_revenue', 'auto_revenue', 'air_revenue']]
revenue_with_address

   client_id          address  rzd_revenue  auto_revenue  air_revenue
0        111  Комсомольская 4       1093.0           0.0          0.0
1        112   Энтузиастов 8а       2810.0           0.0          0.0
2        113  Левобережная 1а      10283.0       57483.0          0.0
3        114          Мира 14       5774.0          83.0          0.0
4        115        ЗЖБИиДК 1        981.0         912.0         81.0
5        116    Строителей 18          0.0        4834.0          4.0
6        117  Панфиловская 33          0.0          98.0         13.0
7        118     Мастеркова 4          0.0           0.0        173.0